@{
    ViewData["Title"] = "Home Page";
}

<div class="card mt-3" style="width: 18rem;">
    <img src="~/images/3d-realistic-background-podium-display.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
        <h5 class="card-title" style="color: #DFB183; font-weight:700">ADD DISCOUNTS</h5>
        <p class="card-text"> Add discounts to all products.</p>
        <a asp-action="createDiscount" class="btn btn-primary" style="background: #7036BE; border: 0; color: #DFB183">Go</a>
    </div>
</div>
