@model DeliveryMethodViewModel

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DescriptionEnglish" class="col-form-label"></label>
    <input asp-for="DescriptionEnglish" class="form-control" />
    <span asp-validation-for="DescriptionEnglish" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DescriptionArabic" class="col-form-label"></label>
    <input asp-for="DescriptionArabic" class="form-control" />
    <span asp-validation-for="DescriptionArabic" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Cost" class="col-form-label"></label>
    <input asp-for="Cost" class="form-control" />
    <span asp-validation-for="Cost" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DeliveryTimeEnglish" class="col-form-label"></label>
    <input asp-for="DeliveryTimeEnglish" class="form-control" />
    <span asp-validation-for="DeliveryTimeEnglish" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DeliveryTimeArabic" class="col-form-label"></label>
    <input asp-for="DeliveryTimeArabic" class="form-control" />
    <span asp-validation-for="DeliveryTimeArabic" class="text-danger"></span>
</div>